body {
	background-color: #000;
	color: #fff;
	font-family: monoscript;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 10vw;
}

section {
	display: grid;
	place-items: center;
	align-content: center;
	min-height: 100vh;
}

.hidden {
	filter: blur(5px);
	opacity: 0;
	transform: translateX(-100%);
	transition: all 1s;
}

.show {
	filter: blur(0);
	opacity: 1;
	transform: translateX(0);
}

#go {
	color: #f30;
}

@media(prefers-redueced-motion) {
	.hidden {
		transition: none;
	}
}

.cars {
	display: flex;
	gap: 1rem;
	z-index: 4;
}

.car-img {
	max-width: 20vw;
}

.car:nth-child(2) {
	filter: hue-rotate(45deg);
	transition-delay: 450ms;
	z-index: 3;
}

.car:nth-child(3) {
	filter: hue-rotate(140deg);
	transition-delay: 900ms;
	z-index: 2;
}

.car:nth-child(4) {
	filter: hue-rotate(260deg);
	transition-delay: 1350ms;
	z-index: 1;
}

